<%- include('../partials/header.ejs') %>

   <div class="row">
    <div class="col-3 m-auto my-5">
        ADD A NEW HOTEL
        <form class="my-3 needs-validation"  action="/hotels" method="post" enctype="multipart/form-data" novalidate>
            <div class="form-floating mb-3">
                <input name="hotel[name]" type="text" class="form-control" id="name" placeholder="Hotels Name" required> 
                <label for="name">Hotel Name</label>
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    Please enter a name of the hotel.
                </div>
            </div>
            <div class="form-floating mb-3">
              <input name="hotel[address]" type="text" class="form-control" id="address" placeholder="Enter Address" required> 
                <label for="address">Hotel address</label>
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    Please enter a hotel address.
                </div>
            </div>
            <div class="form-floating mb-3">
              <input name="hotel[price]" type="number" class="form-control" id="price" placeholder="Price of hotel" min="100" max="10000" step="1" required> 
                <label for="price">Hotel Price</label>
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    Please choose a price.
                </div>
                </div>
                <div class="form-floating mb-3">
                    <div class="input-group mb-3">
                        <input name="image" type="file" class="form-control" id="inputGroupFile02" multiple required>
                        <label class="input-group-text" for="inputGroupFile02">Upload</label>
                      </div>
            </div>
                
              
            <button type="submit" class="btn btn-primary my-3" >Add Hotel</button>
        </div>
          </form>
    </div>
   </div>
   <script src="/scripts/form-validation.js"></script>

<%- include('../partials/footer.ejs') %>
